html
{
    overflow : hidden;
    cursor : url('images/icons8-santa-48.png'), pointer;
}
body
{
    overflow : hidden;
    background-image : url('images/palm-leaf.png');
    background-repeat : repeat;
    margin:0;
}
svg
{
    background-image : url('images/palm-leaf.png');
    background-repeat : repeat;
    background-color : #d7cec5;
}
#introDiv
{
    font-family : fantasy;
    font-size : 3em;
    color : white;
    text-align : center;
    position: absolute;
    opacity: 1;
    top: 0px;
    left: 0px;
    /*border-radius : 100px;*/
    background: #cd8c5e;
    pointer-events : none;
}
