html
{
    overflow : hidden;
   /* cursor : url('images/mmk.png'), pointer;*/
}
body
{
    overflow : hidden;
    background-image : url('images/palm-leaf.png');
    background-repeat : repeat;
    margin:0;
}
svg
{
    background-image : url('images/palm-leaf.png');
    background-repeat : repeat;
    background-color : #d7cec5;
}

